extends  ../_skeleton

//- Includes
include ../sections/_header-creative
include ../sections/_footer-modern

block variables
	- pageName = 'Cart Page'


block page
	// Page Header
	+header-creative.rd-navbar-creative-2

	+breadcrumbs({
		img: 'bg-about-2',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius <br class="d-none d-md-block">mod tempor incididunt ut labore et dolore magna aliqua.'
	})

	// Shopping Cart
	section.section.section-xl.bg-default
		.container
			// shopping-cart
			include ../includes/_shopping-cart
			.group-xl.group-justify.justify-content-center.justify-content-md-between
				div: form.rd-form.rd-mailform.rd-form-inline.rd-form-coupon
					.form-wrap
						input.form-input.form-input-inverse( id='coupon-code', type='text', name='text' )
						label.form-label( for='coupon-code' ) Coupon code
					.form-button: button.button.button-lg.button-secondary.button-zakaria( type='submit' ) Apply
				div: .group-xl.group-middle
					div: .group-md.group-middle
						.heading-5.font-weight-medium.text-gray-500 Total
						.heading-3.font-weight-normal $44
					a.button.button-lg.button-primary.button-zakaria( href='checkout.html' ) Proceed to checkout


	// Page Footer
	+footer-modern({
		bodyMod: 'context-dark',
		gallery: [
			{img: 'grid-gallery-1-93x93', imgOriginal: 'grid-gallery-footer-1-1200x800-original'},
			{img: 'grid-gallery-2-93x93', imgOriginal: 'masonry-gallery-4-1200x800-original'},
			{img: 'grid-gallery-3-93x93', imgOriginal: 'grid-gallery-2-1200x800-original'},
			{img: 'grid-gallery-4-93x93', imgOriginal: 'grid-gallery-1-1200x800-original'},
			{img: 'grid-gallery-5-93x93', imgOriginal: 'grid-gallery-footer-5-1200x800-original'},
			{img: 'grid-gallery-6-93x93', imgOriginal: 'grid-gallery-4-1200x800-original'}
		],
		list: [
			{text: 'Our Team', link: 'our-team.html'},
			{text: 'New Products', link: 'grid-shop.html'},
			{text: 'Blog', link: 'blog-list.html'},
			{text: 'About Us', link: 'about-us.html'},
			{text: 'FAQ', link: '#'},
			{text: 'Contact Us', link: 'contact-us.html'},
			{text: 'Smoothies', link: '#'},
			{text: 'Energy Bowls', link: '#'},
			{text: 'Juices', link: '#'},
			{text: 'Ingredients', link: '#'},
			{text: 'Delivery', link: '#'}
		]
	}).footer-modern-2