extends  ../_skeleton

//- Includes
include ../sections/_header-creative
include ../sections/_footer-modern
include ../components/_form-checkout

block variables
	- pageName = 'Checkout'

block page
	// Page Header
	+header-creative.rd-navbar-creative-2

	+breadcrumbs({
		img: 'bg-about-2',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius <br class="d-none d-md-block">mod tempor incididunt ut labore et dolore magna aliqua.'
	})

	// Section checkout form
	section.section.section-sm.section-first.bg-default.text-md-left
		.container
			.row.row-50.justify-content-center
				.col-md-10.col-lg-6
					h3.font-weight-medium Billing Address
					+form-checkout({ customUnique: '1', checkbox: true })
				.col-md-10.col-lg-6
					h3.font-weight-medium Delivery Address
					+form-checkout({ customUnique: '2' })

	// Shopping Cart
	section.section.section-sm.bg-default.text-md-left
		.container
			h3.font-weight-medium Your shopping cart
			include ../includes/_shopping-cart


	// Section Payment
	section.section.section-sm.section-last.bg-default.text-md-left
		.container
			.row.row-50.justify-content-center
				.col-md-10.col-lg-6
					h3.font-weight-medium Payment methods
					.box-radio
						.radio-panel
							label.radio-inline.active
								input( name='input-group-radio', value='checkbox-1', type='radio', checked )
								| Direct Bank Transfer
							.radio-panel-content
								p Make your payment directly into our bank account. Please use your Order ID as the payment reference. Your order will be shipped right away.

						.radio-panel
							label.radio-inline
								input( name='input-group-radio', value='checkbox-1', type='radio' )
								| PayPal
							.radio-panel-content
								p Pay via PayPal; you can pay with your credit card if you don’t have a PayPal account.

						.radio-panel
							label.radio-inline
								input( name='input-group-radio', value='checkbox-1', type='radio' )
								| Cheque Payment
							.radio-panel-content
								p Please send a check to Store Name, Store Street, Store Town, Store State / County, Store Postcode.

				.col-md-10.col-lg-6
					h3.font-weight-medium Cart total
					.table-custom-responsive
						table.table-custom.table-custom-primary.table-checkout
							tbody
								tr
									td Cart Subtotal
									td $44
								tr
									td Shipping
									td Free
								tr
									td Total
									td $44


	// Page Footer
	+footer-modern({
		bodyMod: 'context-dark',
		gallery: [
			{img: 'grid-gallery-1-93x93', imgOriginal: 'grid-gallery-footer-1-1200x800-original'},
			{img: 'grid-gallery-2-93x93', imgOriginal: 'masonry-gallery-4-1200x800-original'},
			{img: 'grid-gallery-3-93x93', imgOriginal: 'grid-gallery-2-1200x800-original'},
			{img: 'grid-gallery-4-93x93', imgOriginal: 'grid-gallery-1-1200x800-original'},
			{img: 'grid-gallery-5-93x93', imgOriginal: 'grid-gallery-footer-5-1200x800-original'},
			{img: 'grid-gallery-6-93x93', imgOriginal: 'grid-gallery-4-1200x800-original'}
		],
		list: [
			{text: 'Our Team', link: 'our-team.html'},
			{text: 'New Products', link: 'grid-shop.html'},
			{text: 'Blog', link: 'blog-list.html'},
			{text: 'About Us', link: 'about-us.html'},
			{text: 'FAQ', link: '#'},
			{text: 'Contact Us', link: 'contact-us.html'},
			{text: 'Smoothies', link: '#'},
			{text: 'Energy Bowls', link: '#'},
			{text: 'Juices', link: '#'},
			{text: 'Ingredients', link: '#'},
			{text: 'Delivery', link: '#'}
		]
	}).footer-modern-2