extends  ../_skeleton

//- Includes
include ../sections/_header-creative
include ../sections/_footer-modern
include ../components/_product
include ../components/_pagination

block variables
	- pageName = 'Shop List'

block page
	// Page Header
	+header-creative.rd-navbar-creative-2

	+breadcrumbs({
		img: 'bg-about-2',
		text: 'Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eius <br class="d-none d-md-block">mod tempor incididunt ut labore et dolore magna aliqua.'
	})

	// Section Shop
	section.section.section-xxl.bg-default.text-md-left
		.container: .row.row-50
			.col-lg-4.col-xl-3: include ../includes/_aside-product
			.col-lg-8.col-xl-9
				.product-top-panel.group-md
					p.product-top-panel-title Showing 1–12 of 28 results
					div: .group-sm.group-middle
						.product-top-panel-sorting
							select
								option( value='1' ) Sort by newness
								option( value='2' ) Sort by popularity
								option( value='3' ) Sort by alphabet

						.product-view-toggle
							a.mdi.mdi-apps.product-view-link.product-view-grid( href= links.shop )
							a.mdi.mdi-format-list-bulleted.product-view-link.product-view-list.active( href='shop-list.html' )

				.row.row-30.row-md-50.row-lg-60
					.col-12
						+product-horizontal({
							unit: 'flex-column flex-sm-row',
							img: 'product-big-1-328x330.png',
							title: 'Bananas',
							price: '16'
						}).text-center.text-sm-left
					.col-12
						+product-horizontal({
							unit: 'flex-column flex-sm-row',
							img: 'product-big-2-328x330.png',
							title: 'Tomatoes',
							price: '16',
							text : 'Elogiums peregrinationes in lotus quadrata! Caniss accelerare, tanquam neuter guttus. Cum barcas persuadere'
						}).text-center.text-sm-left
					.col-12
						+product-horizontal({
							unit: 'flex-column flex-sm-row',
							img: 'product-big-3-328x330.png',
							title: 'Carrots',
							price: '23',
							priceOld: '30',
							text : 'Canis, mons, et fluctus. Cur silva observare? Cum luna studere, omnes cottaes demitto gratis, altus absolutioes'
						}).text-center.text-sm-left

				.pagination-wrap: +pagination-bootstrap(null, 1, 3)


	// Page Footer
	+footer-modern({
		bodyMod: 'context-dark',
		gallery: [
			{img: 'grid-gallery-1-93x93', imgOriginal: 'grid-gallery-footer-1-1200x800-original'},
			{img: 'grid-gallery-2-93x93', imgOriginal: 'masonry-gallery-4-1200x800-original'},
			{img: 'grid-gallery-3-93x93', imgOriginal: 'grid-gallery-2-1200x800-original'},
			{img: 'grid-gallery-4-93x93', imgOriginal: 'grid-gallery-1-1200x800-original'},
			{img: 'grid-gallery-5-93x93', imgOriginal: 'grid-gallery-footer-5-1200x800-original'},
			{img: 'grid-gallery-6-93x93', imgOriginal: 'grid-gallery-4-1200x800-original'}
		],
		list: [
			{text: 'Our Team', link: 'our-team.html'},
			{text: 'New Products', link: 'grid-shop.html'},
			{text: 'Blog', link: 'blog-list.html'},
			{text: 'About Us', link: 'about-us.html'},
			{text: 'FAQ', link: '#'},
			{text: 'Contact Us', link: 'contact-us.html'},
			{text: 'Smoothies', link: '#'},
			{text: 'Energy Bowls', link: '#'},
			{text: 'Juices', link: '#'},
			{text: 'Ingredients', link: '#'},
			{text: 'Delivery', link: '#'}
		]
	}).footer-modern-2